:root {
  /* fonts */
  --font-heading-1: 'Playfair Display', serif;
  --font-heading-2: 'Montserrat', sans-serif;
  --font-main-1: 'Lato', sans-serif;
  --font-main-2: 'Roboto', sans-serif;


  /* colors */
  --turq: #30e3ca;
  --blue: #2f89fc;
  --dark-green-gray: #40514e;
  --light-gray: #f5f5f5;

  --pretty-white: #fcfcfc;
  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;


  /* curling colors */
  --red-base: #FB2B3A;
  --red-lighter: #FD4755;
  --red-lightest: #FE646F;
  --blue-base: #01C0FA;
  --blue-lighter: #62DBFB;
  --blue-lightest: #C8EFFE;

  --house-blue: #0000FF;
  --house-red: #FF0000;


  /* sizes */
  --base: 1rem;

  /* transitions */
  --smooth: ease-in-out 0.5s;
  --smooth-fast: ease-in-out 0.25s;
  /* --smooth-fast-border: ease-in-out 0.25s border; */

  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--bg-color), 0 2px 4px rgba(0,0,0,0.24);

  /* for JS */
  --top: 0;
  --bottom: 0;
  --left: 0;
}





* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}





h2 {
  margin: 0
          auto
          calc(var(--base)*0)
          auto;

  font-family: var(--font-heading-2);
  font-weight: bold;
  font-size: calc(var(--base)*2);

  color: var(--primary-color);

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.25);
}

p {
  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.05);
}




body {
  position: relative;

  width: 100vw;
  height: 100vh;

  background: var(--bg-color);

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

header {
  width: 100%;

  padding: calc(var(--base)*0) calc(var(--base)*0);

  border-top: 0 solid black;

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;

  font-family: var(--font-main-1);
  font-weight: bold;
  font-size: calc(var(--base)*2.5);

  color: var(--primary-color);

  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.25);
}

header a {
  font-size: inherit;
  font-weight: inherit;
}

header img {
  height: calc(var(--base)*10);

  padding-right: calc(var(--base)*4);
}

table {
  width: 100%;

  border-collapse: collapse;

  position: relative;
}

footer {
  width: 100%;

  /* margin-top: calc(var(--base)*2.5); */
  bottom: 0;

  padding-left: calc(var(--base)*6);
  padding-bottom: calc(var(--base)*1.5);

  border-top: calc(var(--base)*0.00) solid black;

  position: absolute;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.05);
}

footer a {
  font-size: inherit;

  text-decoration: underline;
}









.adj-header-a {
  margin-top: calc(var(--base)*4);
}

.fat {
  font-weight: bold;
}

.wrapAll {
  width: 91.6%;
  height: 80vh;

  border: 0 solid red;

  margin-top: calc(var(--base)*4);

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.wrapLeft {
  width: 50%;
  height: 100%;

  border: 0 solid blue;
}

.wrapInfo {
  width: 100%;

  border: 0 solid cyan;

  margin-bottom: calc(var(--base)*4);

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;

  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.05);
}

.wrapScore {
  width: 100%;
  height: calc(var(--base)*15);

  border: 0 solid cyan;

  margin-bottom: calc(var(--base)*4);

  display: grid;
  grid-gap: calc(var(--base)*0.5);

  /* rows | cols */
  grid-template: 2fr 5fr / 1fr;
}

.wrapScoreInfo {
  width: 100%;
  height: 100%;

  display: grid;
  grid-gap: calc(var(--base)*0.5);

  /* rows | cols */
  grid-template: 1fr / 2fr repeat(10, 1fr) 2fr;
}

.wrapScoreInfo div {
  width: 100%;
  height: 100%;

  background: lightblue;

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.wrapScoreInfo div p {
  font-size: calc(var(--base)*1.25);

  text-transform: uppercase;
  letter-spacing: calc(var(--base)*0.15);
}

.wrapScoreTeam {
  width: 100%;
  height: 100%;

  display: grid;
  grid-gap: calc(var(--base)*0.5);

  /* rows | cols */
  grid-template: repeat(2, 1fr) / 1fr;
}

.wrapRight {
  width: 50%;
  height: 100%;

  border: 0 solid blue;

  position: absolute;

  top: 0;
  right: 0;
}

.wrapGraphic {
  width: 50%;
  height: 100%;

  margin: 0 auto;
  padding: calc(var(--base)*0);

  background: transparent;

  border-left: calc(var(--base)*0.15) solid black;
  border-right: calc(var(--base)*0.15) solid black;
}

.wrapGraphic img {
  width: calc(var(--base)*20);

  border: 0 solid cyan;

  position: absolute;
}

.hack {
  width: calc(var(--base)*2);
  height: calc(var(--base)*0.5);

  background: black;

  position: absolute;
}

.line {
  width: 100%;
  height: calc(var(--base)*0.1);

  border-top: 0 dotted var(--gray-lighter);

  /* margin-top: calc(var(--base)*5); */

  position: absolute;
}

.hog {
  border-top:  calc(var(--base)*0.25) solid black;
}

.circle {
  width: calc(var(--base)*10);
  height: calc(var(--base)*10);

  border-radius: 100%;

  margin-top: calc(var(--base)*4);

  position: absolute;

  background: transparent;
}

.blue {
  border: calc(var(--base)*1.25) solid var(--house-blue);
}

.red {
  border: calc(var(--base)*1.25) solid var(--house-red);
}

.wrapTable {
  width: 100%;
  height: 100%;

  border: 0 solid red;

  margin: 0 auto;
}

.thead {
  width: 100%;

  border-bottom: calc(var(--base)*0.1) solid black;

  background: var(--blue-lightest);

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.thead p {
  padding: calc(var(--base)*1.25) calc(var(--base)*0.5);

  font-family: var(--font-main-1);
  font-weight: bold;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.15);
}

.wrapTStoneData {
  width: 100%;
  height: calc(var(--base)*26.25);

  margin: 0;

  overflow: auto;

  border: 1 solid red;

  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.15);
}

.wrapTStoneData td {
  padding: calc(var(--base)*1.25) calc(var(--base)*0.5);
}

.wrapTStoneData thead td {
  background: var(--blue-lightest);

  font-size: calc(var(--base)*1.5);
  font-weight: bold;

  text-transform: capitalize;
}

.wrapTStoneData tbody td {
  background: var(--gray-lighter);

  font-size: calc(var(--base)*1.25);
}

.stone {
  /*
  width: calc(var(--base)*1);
  height: calc(var(--base)*1);
  */

  margin-top: var(--top);
  margin-left: var(--left);

  bottom: var(--bottom);

  border: 0 solid blue;

  position: absolute;
}
