:root {
  /* fonts */
  --font-heading-1: 'Playfair Display', serif;
  --font-heading-2: 'Montserrat', sans-serif;
  --font-main-1: 'Lato', sans-serif;
  --font-main-2: 'Roboto', sans-serif;


  /* colors */
  --turq: #30e3ca;
  --blue: #2f89fc;
  --dark-green-gray: #40514e;
  --light-gray: #f5f5f5;

  --pretty-white: #fcfcfc;
  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;


  /* curling colors */
  --red-base: #FB2B3A;
  --red-lighter: #FD4755;
  --red-lightest: #FE646F;
  --blue-base: #01C0FA;
  --blue-lighter: #62DBFB;
  --blue-lightest: #C8EFFE;


  /* sizes */
  --base: 1rem;

  /* transitions */
  --smooth: ease-in-out 0.5s;
  --smooth-fast: ease-in-out 0.25s;
  /* --smooth-fast-border: ease-in-out 0.25s border; */

  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--bg-color), 0 2px 4px rgba(0,0,0,0.24);

  /* for JS */
  --colNum: 0;
  --rowNum: 0;
  --left: 0;
}





* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}





h2 {
  margin: 0
          auto
          calc(var(--base)*0)
          auto;

  font-family: var(--font-heading-2);
  font-weight: bold;
  font-size: calc(var(--base)*2);

  color: var(--primary-color);

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.25);
}

p {
  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.05);
}




body {
  position: relative;

  width: 100vw;
  height: 100vh;

  background: var(--bg-color);

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

header {
  width: 100%;

  padding: calc(var(--base)*2) calc(var(--base)*6);

  border-top: 1px solid black;

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;

  font-family: var(--font-main-1);
  font-weight: bold;
  font-size: calc(var(--base)*2.5);

  color: var(--primary-color);

  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.25);
}

header a {
  font-size: inherit;
  font-weight: inherit;
}

header img {
  height: calc(var(--base)*10);

  padding-right: calc(var(--base)*4);
}

table {
  width: 100%;

  border-collapse: collapse;

  position: relative;
}

footer {
  width: 100%;

  margin-top: calc(var(--base)*7);

  padding: calc(var(--base)*0);

  border-top: calc(var(--base)*0.00) solid black;

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.05);
}

footer a {
  font-size: inherit;

  text-decoration: underline;
}









.adj-header-a {
  margin-top: calc(var(--base)*4);
}

.wrapAll {
  width: 91%;

  border: 0 solid red;

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.wrapGraphic {
  width: 70%;
  height: 100%;

  padding: calc(var(--base)*5);

  background: pink;
}

.wrapTable {
  width: 20%;
  height: 100%;

  border: 1 solid red;
}

.thead {
  width: 100%;

  border-bottom: calc(var(--base)*0.1) solid black;

  background: var(--blue-lightest);

  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.thead p {
  padding: calc(var(--base)*1.25) calc(var(--base)*0.5);

  font-family: var(--font-main-1);
  font-weight: bold;
  font-size: calc(var(--base)*1.5);

  color: var(--primary-color);

  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.15);
}

.wrapTStoneData {
  width: 100%;
  height: calc(var(--base)*50);

  overflow: auto;

  border: 1 solid red;

  font-family: var(--font-main-1);
  font-weight: normal;
  font-size: calc(var(--base)*1);

  color: var(--primary-color);

  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: calc(var(--base)*0.15);
}

.wrapTStoneData td {
  padding: calc(var(--base)*1.25) calc(var(--base)*0.5);
}

.wrapTStoneData thead td {
  background: var(--blue-lightest);

  font-size: calc(var(--base)*1.5);
  font-weight: bold;

  text-transform: capitalize;
}

.wrapTStoneData tbody td {
  background: var(--gray-lighter);

  font-size: calc(var(--base)*1.25);
}
